
body{
   font-family: 'Roboto', sans-serif; 
   margin: 0;
}

.margin-5{
    margin: 5px;
}

.logo{
    background-image:url(../img/pattern.png);
    height: 110px;
    background-size: 40%;
    background-color:cornflowerblue;
    padding: 10px;
}

.title{
    width: 20%;
    margin-top: 30px;
}

ul{
    padding-left: 15px;
}

h1{
    margin-bottom:0 ;
}

.color-grey{
    color: gray;
}

.color-blue{
    color: cornflowerblue;
}

.small-font{
    font-size: 0.7em;
}

.margin-top{
    margin-top: 20px;
}

table{
    border-spacing: 0;
}

.text-color{
    background-color: cornflowerblue ;
    color: white;
}

.color-aqua{
    background-color: aqua;
}

*{
    box-sizing: border-box;
}